html, body{
	height: 100%;
	width: 100%;
	font-family: Helvetica Neue;
	font-size: 20px;	
}

#current_result{
	
	
	
	/*padding-left: 100px;
	color: white;

	padding-bottom: 200px;
	padding-top: 200px;
	
	
	max-width:100%;
	max-height:100%;*/

	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
	
}
#Location{
	font-size: 50px;
	margin-bottom: 10px;
}
#gif_img{
	margin-bottom: 15px;
	height:90px;
	width: 90px;
}
#background{
	margin-bottom: 30px;
	height:90px;
	width: 90px;
}
#main_symbol{
	height:80px;
	height:80px;
}
#img_description{
	font-size: 35px;
}
#Temperature_F{
	font-size: 35px;
}
#Feels_like{
	margin-top: 50px;
	font-size: 25px;

}
#Sun{
	float: left;
	padding: 35px;
}
#Mon{
	float: left;
	padding: 35px;
}
#Tue{
	float: left;
	padding: 35px;
}
#Wed{
	float: left;
	padding: 35px;
}
#Thu{
	float: left;
	padding: 35px;
}
#Fri{
	float: left;
	padding: 35px;
}
#Sat{
	float: left;
	padding: 35px;
}
#sevenDayResults{
	width:90%;
	margin: auto;
}

/* search box */

.button_box2 {
margin:100px auto;
}
/*-------------------------------------*/
.cf:before, .cf:after{
content:"";
display:table;
}
.cf:after{
clear:both;
}
.cf{
zoom:1;
}
/*-------------------------------------*/

.search {

width: 330px;
background-position:center;
height:30px;
padding: 20px;
padding-top: 12px;
background: #555;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.sb-search input {
width: 210px;
height: 20px;
padding: 10px 5px;
float: left;
font: bold 15px 'Raleway', sans-serif;
border: 0;
background: #eee;
-moz-border-radius: 3px 0 0 3px;
-webkit-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}
.sb-search input:focus {
outline: 0;
background: #fff;
-moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
-webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.sb-search input::-webkit-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.sb-search input:-moz-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.sb-search input:-ms-input-placeholder {
color: #999;
font-weight: normal;
font-style: italic;
}
.sb-search button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 110px;
font: bold 15px/40px 'Raleway', sans-serif;
color: #fff;
text-transform: uppercase;
background: #D88F3C;
-moz-border-radius: 0 3px 3px 0;
-webkit-border-radius: 0 3px 3px 0;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.sb-search button:hover{
background: #FA8807;
}
.sb-search button:active,
.sb-search button:focus{
background: #c42f2f;
}
.sb-search button:before {
content: '';
position: absolute;
border-width: 8px 8px 8px 0;
border-style: solid solid solid none;
border-color: transparent #D88F3C transparent;
top: 12px;
left: -6px;
}
.sb-search button:hover:before{
border-right-color: #FA8807;
}
.sb-search button:focus:before{
border-right-color: #c42f2f;
}
.sb-search button::-moz-focus-inner {
border: 0;
padding: 0;
}
#nav-bar{
	padding-bottom: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

